.fab {
  -fx-pref-width: 60px;
  -fx-background-color: #212f5b;
  -fx-background-radius: 60px;
  -fx-pref-height: 60px;
  -fx-min-width: -fx-pref-width;
  -fx-max-width: -fx-pref-width;
  -fx-min-height: -fx-pref-height;
  -fx-max-height: -fx-pref-height;
  -jfx-button-type: RAISED;
  -fx-text-fill: white;
}

.fab-small {
  -fx-pref-width: 42px;
  -fx-background-color: #212f5b;
  -fx-background-radius: 42px;
  -fx-pref-height: 42px;
  -fx-min-width: -fx-pref-width;
  -fx-max-width: -fx-pref-width;
  -fx-min-height: -fx-pref-height;
  -fx-max-height: -fx-pref-height;
  -jfx-button-type: RAISED;
  -fx-text-fill: white;
}

.fab .jfx-rippler, .fab-small .jfx-rippler{
  -jfx-rippler-fill: rgba(255,255,255, .76);
}
